# FastAPI and Server
fastapi==0.111.0
uvicorn[standard]==0.29.0
# Database
sqlmodel==0.0.18
# Data Handling
pandas==2.2.2
# For file uploads in FastAPI
python-multipart==0.0.9
# For dummy data generation
Faker==25.2.0
